In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=6f39ef86744e7b25276420ba83b288d449f4040378a9e113e29eff9fc03b7e53
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as fc

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.csv("/content/sample_data/california_housing_train.csv",header=True, inferSchema=True)

In [ ]:
df.show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 2 rows

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df.select("longitude", "latitude").show()

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -114.31|   34.19|
|  -114.47|    34.4|
|  -114.56|   33.69|
|  -114.57|   33.64|
|  -114.57|   33.57|
|  -114.58|   33.63|
|  -114.58|   33.61|
|  -114.59|   34.83|
|  -114.59|   33.61|
|   -114.6|   34.83|
|   -114.6|   33.62|
|   -114.6|    33.6|
|  -114.61|   34.84|
|  -114.61|   34.83|
|  -114.63|   32.76|
|  -114.65|   34.89|
|  -114.65|    33.6|
|  -114.65|   32.79|
|  -114.66|   32.74|
|  -114.67|   33.92|
+---------+--------+
only showing top 20 rows

In [ ]:
df.select(fc.avg("housing_median_age").alias("promedio_edad")).show()

+-----------------+
|    promedio_edad|
+-----------------+
|28.58935294117647|
+-----------------+

In [ ]:
df.select(fc.min("latitude"),fc.max("longitude")).show()

+-------------+--------------+
|min(latitude)|max(longitude)|
+-------------+--------------+
|        32.54|       -114.31|
+-------------+--------------+

In [ ]:
df.where("housing_median_age > 10").count()

15687

In [ ]:
df = spark.read.csv("credit",header=True,inferSchema=True)

In [ ]:
df.show()

+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+----+
|_c0|Age|   Sex|Job|Housing|Saving accounts|Checking account|Credit amount|Duration|            Purpose|Risk|
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+----+
|  0| 67|  male|  2|    own|             NA|          little|         1169|       6|           radio/TV|good|
|  1| 22|female|  2|    own|         little|        moderate|         5951|      48|           radio/TV| bad|
|  2| 49|  male|  1|    own|         little|              NA|         2096|      12|          education|good|
|  3| 45|  male|  2|   free|         little|          little|         7882|      42|furniture/equipment|good|
|  4| 53|  male|  2|   free|         little|          little|         4870|      24|                car| bad|
|  5| 35|  male|  1|   free|             NA|              NA|         9055|      36|          education|good|
|  6| 53|  male|  2|    own|     quite rich|              NA|         2835|      24|furniture/equipment|good|
|  7| 35|  male|  3|   rent|         little|        moderate|         6948|      36|                car|good|
|  8| 61|  male|  1|    own|           rich|              NA|         3059|      12|           radio/TV|good|
|  9| 28|  male|  3|    own|         little|        moderate|         5234|      30|                car| bad|
| 10| 25|female|  2|   rent|         little|        moderate|         1295|      12|                car| bad|
| 11| 24|female|  2|   rent|         little|          little|         4308|      48|           business| bad|
| 12| 22|female|  2|    own|         little|        moderate|         1567|      12|           radio/TV|good|
| 13| 60|  male|  1|    own|         little|          little|         1199|      24|                car| bad|
| 14| 28|female|  2|   rent|         little|          little|         1403|      15|                car|good|
| 15| 32|female|  1|    own|       moderate|          little|         1282|      24|           radio/TV| bad|
| 16| 53|  male|  2|    own|             NA|              NA|         2424|      24|           radio/TV|good|
| 17| 25|  male|  2|    own|             NA|          little|         8072|      30|           business|good|
| 18| 44|female|  3|   free|         little|        moderate|        12579|      24|                car| bad|
| 19| 31|  male|  2|    own|     quite rich|              NA|         3430|      24|           radio/TV|good|
+---+---+------+---+-------+---------------+----------------+-------------+--------+-------------------+----+
only showing top 20 rows

In [ ]:
df.groupby("sex").avg("age").show()

+------+------------------+
|   sex|          avg(age)|
+------+------------------+
|female|32.803225806451614|
|  male|36.778260869565216|
+------+------------------+

In [ ]:
df.where("housing_median_age > 10").count()
df.select(fc.avg("housing_median_age").alias("promedio_edad")).show()

Edad promedio de los clientes malos


Número de hombres y mujeres.


Valor de crédito promedio para hombres y para mujeres.


promedio de duration de créditos que son destinados para educación

In [ ]:
df.where("Risk == 'bad'").select(fc.avg("Age").alias("promedio_edad_clientes_malos")).show()

+----------------------------+
|promedio_edad_clientes_malos|
+----------------------------+
|           33.96333333333333|
+----------------------------+

In [ ]:
df.groupby("Sex").count().show()

+------+-----+
|   Sex|count|
+------+-----+
|female|  930|
|  male| 2070|
+------+-----+

In [ ]:
df.groupby("Sex").avg("Credit amount").show()

+------+------------------+
|   Sex|avg(Credit amount)|
+------+------------------+
|female|2877.7741935483873|
|  male| 3448.040579710145|
+------+------------------+

In [ ]:
df.where("Purpose == 'education'").select(fc.avg("Credit amount").alias("promedio_para_Educacion")).show()

+-----------------------+
|promedio_para_Educacion|
+-----------------------+
|     2879.2033898305085|
+-----------------------+